textarea {
    min-height: 400px;
}

body {
    background-color: rgb(31, 229, 255);
    background-image: url("mail_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.email {
    display: flex;
    border: 1px solid rgb(24, 1, 1);
    background-color: gray;
    padding:10px;
    margin: 5px;
}
.emailViewBorder{
    border : 1px solid rgb(148, 148, 148);
    padding:10px;
    margin: 5px;
}
.email > * {
    flex: 1 2;
}

.seen {
    background-color:white;
}

.btn-sm, .btn-email{
    background-color:#7a0991;
    color: rgb(247, 1, 226);
    border:none; 
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 120px;
}

.btn-sm, .btn-email :hover{
    background-color:#6e0c61;
    transition: 0.7s;
}
